*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.css text eol=lf
*.js text eol=lf
*.cshtml text eol=lf
*.woff2 binary
.gitattributes text eol=lf
.gitignore text eol=lf
*.lock
CODEOWNERS text eol=lf
LICENSE text eol=lf